@import '../../styles/utils/colors.scss';

.brand{
    cursor: pointer;
    font-size: 1.4rem;

    span{
        text-transform: uppercase;
        border: 1px solid #f50460;
        color: $blueColor;
        padding: 0.6rem 1rem;
        border-radius: 15px 50px 30px;
        font-weight: bolder;
        letter-spacing: 0.2rem;
    }
}