@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Raleway', sans-serif;
  font-family: 'Kurale', serif;
}

body,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
body{
  max-width: 100vw !important;
  font-family: 'Raleway', sans-serif;
}
body::-webkit-scrollbar{
  width: 10px;
  background-color: white;
}
body::-webkit-scrollbar-thumb{
  background-color: rgb(18, 18, 88);
}
body{
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
}